@media (min-width: 992px) {
  .HowToStart-item {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}
.HowToStart-item-content  {
  padding: 0;
}

.HowToStart-item-content h4 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}
.HowToStart-item-content p {
  font-size: 15px;
  color: #666;
  line-height: 30px;
  margin-bottom: 0px;
}
