.hero-main {
  background: url(../../assets/images/banner-bg.jpg) no-repeat top right/cover;
  color: var(--color-light);
  background-color: var(--color-dark);
  padding: var(--padding-primary);
  border-radius: var(--border-radius-primary);
}
.hero-text {
  max-width: 500px;
}
.hero-title {
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: calc(var(--margin-primary) / 2);
  font-weight: 900;
}
@media (max-width: 767px){
  .hero-title {
    font-size: 20px;
  }
  
  }
.hero-title em {
  font-style: normal;
  color: var(--color-pink);
}
.hero-subtitle {
  font-size: 20px;
  color: var(--color-light);
  font-weight: 400;
  margin-bottom: calc(var(--margin-primary) / 2);
}
